*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.card{
    padding: 20px;
    border:2px solid black;
    border-radius: 10px;
    box-shadow: none;
    background-color: aqua;
}
.float-img{
    float: left;
    margin-right:12px;
    width :12px;
}